/*APP MODAL*/
.app_modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: var(--area-box) 0;
    background: rgba(100, 100, 100, 0.7);
    z-index: var(--index-modal);
    display: none;
    overflow-y: auto;
}

.app_modal .message {
    text-align: center;
    margin-bottom: var(--area-normal);
}

.app_modal_close {
    position: absolute;
    right: 50px;
    top: 50px;
    background-color: #fff;
    color: var(--color-red);
    padding: 15px 22px;
    font-size: var(--font-large);
    font-weight: var(--weight-bold);

}

.app_modal_box {

    margin: auto;
    width: 500px;
    max-width: 94%;
    padding: calc(var(--area-box) * 1.5);
    background: #ffffff;

    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
    border-radius: var(--radius-medium);
}

.app_modal_box .title {
    font-size: var(--font-large);
    font-weight: var(--weight-light);
    color: var(--color-default);
    padding-bottom: var(--area-normal);

    margin: 0 0 15px 0;
}

.app_modal_box button {
    width: 100%;
}

/* MODAL DELETE */
.app_modal_box .title

{
    font-size: var(--font-medium);
    font-weight: var(--weight-light);
    line-height: 1.5em;
    text-align: center;
    border-bottom: none;
    margin: 0;
}

.app_modal_box .js-icon
{
    font-size: 5em;
}

.app_modal_box a
{
    flex-basis: 50%;
    text-align: center;
    margin: 20px;
    text-decoration: none;
}

/*BUTTONS*/

.btn {
    display: inline-block;
    background: #555555;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: var(--weight-normal);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-border-radius: var(--radius-normal);
    -moz-border-radius: var(--radius-normal);
    border-radius: var(--radius-normal);
    transition-duration: var(--hover-duration);
}

.btn-min {
    padding: 4px 8px;
    font-size: var(--font-min);
}

.btn-small {
    padding: 6px 10px;
    font-size: var(--font-small);
}

.btn-normal {
    padding: 10px 15px;
    font-size: var(--font-normal);
}

.btn-large {
    padding: 20px 25px;
    font-size: var(--font-large);
}

.btn-green {
    background-color: var(--color-green);
}

.btn-green:hover {
    background-color: var(--hover-color-green);
}

.btn-blue {
    background-color: var(--color-blue);
}

.btn-blue:hover {
    background-color: var(--hover-color-blue);
}

.btn-red {
    background-color: var(--color-red);
}

.btn-red:hover {
    background-color: var(--hover-color-red);
}

/*ICONS NORMALIZE*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
    position: relative !important;
    top: .125em !Important;
    margin-right: .4em !Important;
}

.icon-notext:before {
    top: 0;
    margin-right: 0 !important;;
}

/*ALIGN*/
.al-center {
    text-align: center;
}

.flex {
    display: flex;
}


